@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat";
}

img {
  max-width: 100%;
}

.gallery {
  background-color: #dbddf1;
  padding: 80px 0;
}

.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#gallery-modal .modal-img {
  width: 100%;
}

.about-content {
  width: 50%;
  margin: auto;
  margin-top: 100px;
  color: white;
}

.about-backgroud {
  position: absolute;
  background-color: #c2c3f5;
  padding-bottom: 100px;
}

.container {
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c2c3f5;
  padding-top: 50px;
  padding-bottom: 100px;
  position: absolute;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  margin-top: 50px;
}

.timeline ul {
  list-style: none;
}

.timeline ul li {
  padding: 20px;
  background-color: #8688c4;
  color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline ul li:last-child {
  margin-bottom: 0;
}

.timeline-content h1 {
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline-content p {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
}

.timeline-content .date {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline:before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    height: 100%;
    background-color: gray;
  }

  .timeline ul li {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
  }

  .timeline ul li:nth-child(odd) {
    float: left;
    clear: right;
    transform: translateX(-30px);
    border-radius: 20px 0px 20px 20px;
  }

  .timeline ul li:nth-child(even) {
    float: right;
    clear: left;
    transform: translateX(30px);
    border-radius: 0px 20px 20px 20px;
  }

  .timeline ul li::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: gray;
    top: 0px;
  }

  .timeline ul li:nth-child(odd)::before {
    transform: translate(50%, -50%);
    right: -30px;
  }

  .timeline ul li:nth-child(even)::before {
    transform: translate(-50%, -50%);
    left: -30px;
  }

  .timeline-content .date {
    position: absolute;
    top: -30px;
  }

  .timeline ul li:hover::before {
    background-color: aqua;
  }
}

.mynavbar {
  padding-left: 20px;
}

.skillContainer {
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.project-backgroud {
  position: absolute;
  background-color: #c2c3f5;
  padding-bottom: 100px;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.project-backgroud h1 {
  margin-top: 100px;
}

/* My Skills */
.progress {
  height: 20px;
  border-radius: 20px;
}

.progress .skill .val {
  float: right;
  font-style: normal;
  margin: 0 20px 0 0;
}

.progress-bar {
  text-align: left;
  border-radius: 20px;
  transition-duration: 3s;
  width: 0%;
}
